:root {
    --dark-gray: hsla(180, 11%, 13%);
    --dark-gray-100: hsl(180, 39%, 13%);
    --dark-green: hsla(175, 27%, 33%);
    --green: hsla(145, 84%, 43%);
    --green-100: hsl(145, 84%, 33%);
    --blue: hsl(207, 100%, 25%);
    --dark-blue: hsla(208, 20%, 51%);
    --dark-blue-100: hsl(208, 20%, 81%);
    --dark-blue-200: hsl(208, 20%, 91%);
    --white: rgb(236, 236, 236);
    --light-gray: hsla(240, 1%, 86%);
    --light-gray-100: hsla(240, 1%, 86%, 0.87);
    --beige: hsla(19, 17%, 78%);
    --light-red: hsl(0, 20%, 63%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Righteous";
}

html {
    margin: 0 auto;
    min-height: 100%;
    font-size: 63%;
}

body {
    min-height: 100vh;
    min-width: fit-content; 
    width: auto;
    max-width: 100%;
    background-color: var(--light-gray);
}

/*          --- open form button ---            */
.openForm-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 20px;
    width: auto;
    background-color: var(--dark-blue-100);
    box-shadow: 0 0 10px var(--blue);
}

.openForm-btn-container button {
    margin: auto;
    position: relative;
    bottom: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--dark-green);
    border-radius: 15px;
    cursor: pointer;
    color: var(--dark-gray);
    background-color: var(--dark-blue-200);
    box-shadow: 0 0 10px var(--blue);
}

.openForm-btn-container button:hover {
    background-color: var(--dark-blue);
}



/*          --- form ---            */
form {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    padding: 10px;
    font-size: 2.5em;
    color: var(--light-gray);
    background-color: var(--dark-gray-100);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--light-gray-100);
}

form input[type=text],
form input[type=number] {
    font-size: 0.6em;
    color: var(--dark-gray);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--green);
    border-radius: 5px;
}

form input[type=text]:focus,
form input[type=number]:focus {
    background-color: var(--white);
    outline: none;
}

form .radioBtn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

form .radio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

form input[type=radio] {
    width: 15px;
    margin: 8px 5px;
    cursor: pointer;
    vertical-align: middle;
}

form button[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: var(--white);
    background-color: var(--green);
}

form button[type=submit]:hover {
    background-color: var(--green-100);
}

form button[type=submit]:active {
    transform: scale(99%)
}

.form-popup {
    z-index: 9;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.479);
}

::placeholder {
    color: var(--light-red);
    opacity: 0.65;
}


/*          --- header ---          */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 8em;
    color: var(--light-gray);
    font-weight: 900;
    min-height: 20vh;
    margin: auto;
    background-color: var(--dark-blue);
}


/*          --- book-card ---           */
.bookCard-container {
    width: 100%;
    max-width: 100%;
    margin: 30px 0 0 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-flow: row wrap;
    background-color: hsla(0, 0%, 0%, 0.061);
}

.bookCard-container .book-card {
    min-width: 250px;
    width: fit-content;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(160, 59%, 45%);
    margin: 10px;
    border-radius: 5px 15px 15px 5px;
    box-shadow: 0 0 5px var(--dark-green);
    contain: content;
}

.book-card h2 {
    font-size: 2em;
    color: var(--dark-blue-200);
}

.book-card .titleBook-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    width: 100%;
    height: 90px;
    margin: 10px 0;
    background-color: var(--dark-gray);
    contain: content;
}

.book-card .authorBook-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 4em;
    width: fit-content;
    margin-bottom: 10px;
}

.book-card .btnDeleteBook-card {
    width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: var(--white);
    background-color: hsl(0deg 30% 59%);
    border: 1px solid var(--dark-gray);
    box-shadow: 0 0 2px var(--dark-gray);
}

.book-card .btnDeleteBook-card:hover {
    background-color: hsl(0deg 100% 59%);
}

.book-card .btnDeleteBook-card:active {
    transform: scale(90%);
}



