*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.bookCard-container {
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.bookCard-container .book-card {
    background-color: bisque;
    width: fit-content;
}